
.body {
  overflow: hidden;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
 
  .inputbox{
    // border: 1px solid red;
   padding: 30px;
   
    
  }
}


@media (max-width:800px){
  .body {
    overflow: hidden;
    height: 100vh;
    display: block;
    margin: 0;
  }

}
