// $button: #ee9ba3;
// $dark-grey: #748194;
// $white: white;
// $light-grey: #d3d3d3;

// THEME
$dark-grey: #5d5c61;
$grey: #9e9e9e;
$light-grey: #e0e0e0;
$white: white;

$blue: #7395ae;
$dark-blue: #557a95;

$pink: #e35183;
$dark-pink: #ad1457;
$background: #faf3ec;
