.nav{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  .logo{
    margin-left: 15px;
    img{
    height: 50px;
    width: 50px;
    }
    
  }
  .signout{
    margin-top: 20px;
    margin-right: 20px;
    color: black;
    &:hover{
      cursor: pointer;
    }
     .line{
      display: none;
    }
    
  }
}

.show{
  .line{
    display: block;
    height: 1px;
    width: 70px;
    background-color: black;
  }
}