.nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  .logo{
    margin-top: 3px;
    margin-left: 10px;
    margin-bottom: 5px;
    cursor: pointer;
    &:hover{
      box-shadow: 5px 10px 18px lightgray;
    }
    img{
    height: 50px;
    width: 50px;
    }
    
  }
  .signout{
    .signout-label{
      cursor: pointer;
      margin-top: 20px;
      margin-right: 50px;
      margin-bottom: 5px;
      color: black;
      
    &:hover + .line{
      margin-right:50px ;
      cursor: pointer;
      display: block;
      height: 1px;
      width: 70px;
      background-color: black;
      animation: spanslider 1s;
    }
  }
     .line{
      display: none;
    }
    
  }
}

.show{
  .line{
    display: block;
    height: 1px;
    width: 70px;
    background-color: black;
  }
}

@keyframes spanslider{
  0%{
    background-color: white;
  }
  25%{
    background-color: lightgray;
  }
  50%{
    background-color: grey;
  }
  100%{
    background-color: black;
  }
}