.main {
  position: relative;
  .wrap{
    height: 400px;
    width: 400px;
    border: 3px solid black;
    #inputimage{
      width:400px;
      height:400px;
    }
  }
  .bounding-box {
    position: absolute;
    box-shadow: 0 0 0 3px #149df2 inset;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
  }
}

@media (max-width:800px){
  .main{
    .wrap{
      height: 300px;
      width: 300px;
      #inputimage{
      width:300px;
      height:300px;
      }
    }
  }
}
