body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
  /* font-family: poxima-nova; */
}

code {
  font-family: 'Times New Roman', Times, serif, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.center {
  display: flex;
  justify-content: center;
}

.btn {
  margin-top: 10px;
  padding: 10px;
  width: 150px;
  box-shadow: none;
  border: 1px solid black;
  text-transform: uppercase;
  background-color: white;
  cursor: pointer;
  font-weight: 800;
}
