
.home {
  position: relative;
  height: 100vh;
  background-image: url('../../images/face.jpg');
  background-size: cover;
 
  .link {
    position: absolute;
    top: 10px;
    right: 20px;
    margin: 10px;
    padding: 10px;
    .fa.fa-github {
      margin-right: 10px;
      color: black;
    }
    .fab.fa-linkedin {
      margin-right: 10px;
      color: black;
    }
    .fab.fa-facebook{
      color: black;
    }
  }
  .main{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
  // h1 {
  //   color: #102542;
    
  // }
    .btn.first {
      margin-top: 200px;
    }
  .btn:hover {
   
    background-color: #102542;
    color: white;
  }
}
  .source-code {
    position: absolute;
    bottom: 0;
    right: 0;
    margin:10px;
    padding: 10px;
   
      .fa.fa-github {
        margin-right: 10px;
        color: black;
      }
      a {
        font-weight: 700;
        text-decoration: none;
        cursor: pointer;
        color: black;
      }
    }
    .overlay  {
      background-color: #3792cb;
      opacity: 0.6;
      height: 100%;
      width: 100%;
      position: absolute;
 }
  }

